.center, .vcenter, .hcenter {
	position: absolute;
	display: flex;
}

.center, .hcenter {
	justify-content: center;
}

body * .center, body * .hcenter {
	left: 0; right: 0;
}

@media (width >= 1212px) {
	.center {
		left: 0; right: 0;
	}
}

.center, .vcenter {
	align-items: center;
}

body * .center, body * .vcenter {
	top: 0; bottom: 0;
}

@media (height >= 648px) {
	.center {
		top: 0; bottom: 0;
	}
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.vertical {
	display: flex;
	flex-direction: column;
}

[data-tooltip]::after {
	transition: opacity linear 0.2s;
	opacity: 0;
	position: fixed;
	display: block;
	white-space: pre-wrap;
	top: var(--pixel-size);
	left: var(--pixel-size);
	border: 2px solid var(--color-tooltip-edge);
	background-color: var(--color-tooltip-bg);
	padding: 0 5px;
	content: attr(data-tooltip);
	pointer-events: none;
	z-index: 3000;
}

[data-tooltip]:hover::after {
	transition: none;
	opacity: 1;
	z-index: 3001;
}
