.center, .vcenter, .hcenter {
	position: absolute;
	display: flex;
}

.center, .hcenter {
	left: 0; right: 0;
	justify-content: center;
}

.center, .vcenter {
	top: 0; bottom: 0;
	align-items: center;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.vertical {
	display: flex;
	flex-direction: column;
}
