.center, .vcenter, .hcenter {
	position: absolute;
	display: flex;
}

.center, .hcenter {
	justify-content: center;
}

body * .center, body * .hcenter {
	left: 0; right: 0;
}

@media (width >= 1212px) {
	.center {
		left: 0; right: 0;
	}
}

.center, .vcenter {
	align-items: center;
}

body * .center, body * .vcenter {
	top: 0; bottom: 0;
}

@media (height >= 648px) {
	.center {
		top: 0; bottom: 0;
	}
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.vertical {
	display: flex;
	flex-direction: column;
}
