.line {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-position: var(--line-pos);
	background-size: calc(2 * var(--line-scale)) calc(2 * var(--line-scale) * var(--line-vars));
	background-image: var(--icon);
	--line-scale: 100%;
	--line-vars: 1;
}

.line[data-color] {
	background-color: var(--color-param);
	background-blend-mode: multiply;
	mask-position: var(--line-pos);
	mask-image: var(--icon);
	mask-mode: alpha;
	mask-size: calc(2 * var(--line-scale)) calc(2 * var(--line-scale) * var(--line-vars));
}

.line:not([data-side]), .line[data-side=off], .line[data-trigger=in]:not(.used) { visibility: hidden; }

.line[data-side=top] { --line-pos: 0 100%; }
.line[data-side=bottom] { --line-pos: var(--line-scale) 100%; }
.line[data-side=left] { --line-pos: var(--line-scale) 0; }
.line[data-side=right] { --line-pos: 0 0; }

.line[data-half] { --line-vars: 2; }
.line[data-side=top][data-half='2'] { --line-pos: 0 300%; }
.line[data-side=bottom][data-half='2'] { --line-pos: var(--line-scale) 300%; }
.line[data-side=left][data-half='2'] { --line-pos: var(--line-scale) 200%; }
.line[data-side=right][data-half='2'] { --line-pos: 0 200%; }
